@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

@font-face {
    font-family: 'Nexa Extra Light';
    src: url('./public/fonts/NexaExtraLight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Heavy';
    src: url('./public/fonts/NexaHeavy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('./public/fonts/LemonMilk.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon Milk Light';
    src: url('./public/fonts/LemonMilkLight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cal Sans';
    src: url('./public/fonts/CalSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apple Garamond Light';
    src: url('./public/fonts/AppleGaramond-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Apple Garamond';
    src: url('./public/fonts/AppleGaramond.ttf') format('truetype');
    font-weight: 400;
}

/* For Webkit browsers */
.flex-grow::-webkit-scrollbar {
  width: 8px; /* or any desired width */
}

.flex-grow::-webkit-scrollbar-track {
  background: transparent; /* or any color */
}

.flex-grow::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* or any color with reduced opacity */
  border-radius: 4px; /* or any desired border radius */
}

/* For Mozilla browsers */
.flex-grow {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
