@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@font-face {
    font-family: 'Cal Sans';
    src: url('./public/fonts/CalSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* or the appropriate weight */
    font-style: normal;
}